body{
    background-color: #A7D3CB;
    margin: 0 auto;
}

html{
    scroll-behavior: smooth;
}

.hero{
    text-align: center;
    position: relative;
    background: url(images/hero2.jpg) no-repeat;
    height: 115vh;
    background-size: cover;
    background-position-y: -8vh;

}

nav{
    padding-top: 10vh;
}


nav li{
    display: inline-block;
    list-style: none;
    padding-right: 3%;
    cursor: pointer;
}
nav a{
    text-decoration: none;
    color:white;
    font-family: "ofelia-display", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5vw;
}

nav a:hover {
    text-decoration: underline 3pt;
}


.words{
    /* height:135vh; */
    width:65%;
    padding-top: 17vh;
}

.learn {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learn h1{
    color:#E17284;
    padding-top: 15vh;
    font-family: "ofelia-display", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1 vw;
}

.learn p{
    width:33%;
    font-family: "ofelia-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10pt;
}

span{
    color:#E36534;
    font-family: "ofelia-text", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 5px;
}

button{
    background:#E17284;
    border: none;
    padding:11px 35px 11px 35px;
    border-radius: 7px;
    margin-top: 25px;
    color:white;
    font-family: "ofelia-display", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 12pt;
    cursor: pointer;
    z-index: 2;
}

button:hover{
    background: #E36534;
}

.goalline img{
position:absolute;
margin-top: -95vh;
z-index: -10;
}

.goals h1{
    font-family: "chantal", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:white;
    margin-top: 30vh;
    font-size: 2.5vw;
}

.goalstext{
    text-align: center;
    z-index: 3;
}

.circles img{
    width: 18%;
}

.circ1:hover{
    background:#F6C745;
    border-radius: 255px;
}

.circ2:hover{
    background:#E36534;
    border-radius: 255px;
}

.circ3:hover{
    background:#E17284;;
    border-radius: 255px;
}

.circles{
    display: flex;
    justify-content: center;
    gap:3%;
    flex-wrap: wrap;
}

.campaign{
    text-align: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.campaign h1{
    font-family: "chantal", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:white;
    margin-top: 50vh;
    font-size: 2.5vw;
    transform: rotate(8deg);
}

.campics img{
    width: 22%;
    transition: transform .2s;
}

.campics img:hover{
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    box-shadow: 0 0 15px rgba(39, 55, 56, 0.906); 
}

.campics{
    display: flex;
    display: flex;
    justify-content: center;
    gap:3%;
    flex-wrap: wrap;
}

.campaign p{
    width:22%;
    margin-top: 5vh;
    font-family: "ofelia-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10pt;
}

.testimonial img{
    width:33%;
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16vh;
    text-align: center;
}

.testimonial h1{
    font-family: "chantal", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:white;
    font-size: 2.5vw;
    padding-left: 2.5%;
}

.testimonial h2{
    font-family: "ofelia-display", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 22pt;
    color: white;
    width:28%;
    padding-left: 2.5%;
}

.footerwave{
    margin-bottom: -2vh;
    position: static;
}

.logo{
    width:8vw;
    padding-top: 5vh;
}

footer{
    background-image: url(images/curvebottom.svg);
    height:40vh;
    width:100%;
    background-size: cover;
}

.footerinfo{
    display: flex;
    flex-direction: row;
    gap:5%;
    align-items: center;
    padding-top: 15vh;
    padding-left: 18%;
}

.links h1{
    color:white;
    font-family: "ofelia-display", sans-serif;
    font-weight: 800;
    font-style: normal; 
    font-size: 1.5vw;
    margin-bottom: -10px;  
}

.socials h1{
    color:white;
    font-family: "ofelia-display", sans-serif;
    font-weight: 800;
    font-style: normal; 
    font-size: 1.5vw;    
    margin-bottom: -10px;  
}


footer a {
    text-decoration: none;
    color:white;
    font-family: "ofelia-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9vw;
}

footer a:hover{
    text-decoration: underline 3pt;
}


.socials ul{
    list-style: none;
    padding: 0;
    line-height: 3vh;
}

.links{
    text-align: center;
}

.links ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    line-height: 3vh;
    }    

.socials{
    text-align: center;
}

.top{
    text-align: center;
    margin-left: 52px;
    padding-top: 40px;
}

.topbutton{
    background:#E17284;
    border: none;
    padding:11px 35px 11px 35px;
    border-radius: 7px;
    margin-top: 25px;
    color:white;
    font-family: "ofelia-display", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 12pt;
    cursor: pointer;
    text-decoration: none;
}

.topbutton:hover{
    background: #E36534;
}